<div class="container ">

  <div class=" col-xs-12 MainLogo">
    <img src="assets/images/logo.png" alt="" />
  </div>

  <div class="col-xs-12 WelcomeContainer">

    <span class="Mid">
      <div class="BigTitle text-center ">Welcome to elsbuly</div>
      <div class="MedTitle text-center">Swipe to learn more.</div>
    </span>
  </div>

  <div class="col-lg-12 text-center ButDiv">
    <a (click)="registerPhone()" class="btn GreenBut">Sign up</a>
  </div>
  <div class="LoginLinkDiv">
    <a (click)="login()" role="button" class="LoginLink">Log in</a>
  </div>
</div>
