html
  head
    style.
  body
    h1(style='color:green;') Elsbuly
    p#paragraph
      strong#subscription  You successfully subscribed the advisor #{advisorname} .
      | please maintain balance in your wallet . you will get the ideas if adviosr push any ideas
    a#develsbuly(href='develsbuly.com') develsbuly.com
    h1(align='center') Thank you
